<html>
<head>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
    <title>CodeArchiver - {% block title_block %}{% endblock %}</title>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/static/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">CodeArchiver</a>
            <nav>
                <ul class="nav">
                   {% if user.is_authenticated %}
                        {% include 'menu_after_login.html' %}
                    {% else %}
                        {% include 'menu.html' %}
                    {% endif %}
                </ul>
                <p class="navbar-text pull-right">
              {% if user.is_authenticated %}    Logged in as <a href="#" class="navbar-link"> {{ user.username }}</a>   {% endif %}
                </p>
            </nav>
        </div>
    </div>
</header>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    {% block sidebar %}{% endblock %}
                </ul>
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            <div class="center hero-unit">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content_block %}{% endblock %}
            </div>
        </div>
    </div>

    <hr />

    <footer class="footer pull-right">
       &copy <a href="/admin">SnippetCMS</a> by Elwira Lichocka and Piotr Kowenzowski
    </footer>
</div>


</body>

</html>